{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# exit fast if already in $PATH
type op >/dev/null 2>&1 && exit
export PATH="$PATH:/opt/homebrew/bin"

echo "Installing 1password..."
brew bundle --file=/dev/stdin <<EOF
cask "1password"
cask "1password-cli"
EOF

getc() {
  local save_state
  save_state="$(/bin/stty -g)"
  /bin/stty raw -echo
  IFS='' read -r -n 1 -d '' "$@"
  /bin/stty "${save_state}"
}

wait_for_user() {
  local c
  echo
  printf "Press \033[1mRETURN\033[0m/\033[1mENTER\033[0m to confirm you have completed the above steps:"
  getc c
  # we test for \r and \n because some stuff does \r instead
  if ! [[ "${c}" == $'\r' || "${c}" == $'\n' ]]; then
    wait_for_user
  fi
}

# open 1password app to allow signin
echo
echo "[Action Required] You must now sign in to the 1Password desktop app. Using a QR code is easiest!"
open "/Applications/1Password.app"
wait_for_user
echo

echo
echo "[Action Required] Now, under [Settings > Developer], check 'Integrate with 1Password CLI' to continue..."
open "onepassword://settings"
wait_for_user

# sign in op cli
# eval $(op signin --account my.1password.eu)
{{ end -}}
 