# [git]
#     autoCommit = true
#     autoPush = true

progress = true

[edit]
command = "code"
args = ["--wait"]

#[diff]
#    command = "code"
#    args = ["--wait", "--diff"]

[onepassword]
prompt = false # safe
mode = "account"

{{$osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end}}

[data]
osid = {{ $osid | quote }}

git_name = "dan-os"
git_email = "48282179+dan-os@users.noreply.github.com"

personal.enabled = true

# git_signing_key = "TEST"
# git_signing_key = { # { (bitwardenFields "item" (bitwarden "item" "chezmoi").id).git_signing_key_id.value | quote } #}
# {# { onepasswordItemFields "xxx" | toJson } #}
# {# {- (onepasswordDetailsFields "xxx").private_key.value } #}

# [hooks.read-source-state.pre]
# command = ".local/share/chezmoi/scripts/install-1pass-cli.sh"
