{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

export PATH="$PATH:/opt/homebrew/bin"

# exit fast if already in $PATH
type brew >/dev/null 2>&1 && exit

echo "Installing homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end -}}
